<div id="main-wrapper">

  <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md" style="background: #e91e63">

      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <!-- Logo icon --><b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <!--<img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
          &lt;!&ndash; Light Logo icon &ndash;&gt;
          <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />-->
        </b>
          <!--End Logo icon -->
          <span class="hidden-xs" style="color: white"><span class="font-bold">File</span>Rouge</span>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto" >
          <!-- This is  -->
          <li class="nav-item"> <a class="nav-link nav-toggler d-block d-sm-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
          <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i style="color: white;" class="icon-menu"></i></a> </li>
          <!-- ============================================================== -->
          <!-- Search -->
          <!-- ============================================================== -->
        </ul>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0">
          <!-- ============================================================== -->
          <!-- Messages -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i style="color: white" class="icon-note"></i>
              <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
            </a>
            <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
              <ul>
                <li>
                  <div class="drop-title">You have 4 new messages</div>
                </li>
                <li>
                  <div class="message-center">
                    <!-- Message -->
                    <a href="javascript:void(0)">
                      <div class="user-img"> <img src="../assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                      <div class="mail-contnet">
                        <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                    </a>
                    <!-- Message -->
                    <a href="javascript:void(0)">
                      <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                      <div class="mail-contnet">
                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li>
                  <a class="nav-link text-center link" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- ============================================================== -->
          <!-- End Messages -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- User Profile -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown u-pro">
            <a style="color: white; font-weight: bold" class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="" class="">
              <span class="hidden-md-down">Marwane &nbsp;<i class="fa fa-angle-down"></i></span> </a>
            <div class="dropdown-menu dropdown-menu-right animated flipInY">
              <!-- text-->
              <a href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i> Mon Profile</a>
              <!-- text-->
              <a href="javascript:void(0)" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
              <!-- text-->
              <div class="dropdown-divider"></div>
              <!-- text-->
              <div class="dropdown-divider"></div>
              <!-- text-->
              <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
              <!-- text-->
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Formateur</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="university-professors.html">All Professors</a></li>
              <li><a href="university-add-professor.html">Add Professor</a></li>
              <li><a href="university-edit-professor.html">Edit Professor</a></li>
              <li><a href="university-professor-profile.html">Professor Profile</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-graduation-cap"></i><span class="hide-menu">Etudiants</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="university-students.html">All Students</a></li>
              <li><a href="university-add-student.html">Add Student</a></li>
              <li><a href="university-edit-student.html">Edit Student</a></li>
              <li><a href="university-student-profile.html">Student Profile</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bars"></i><span class="hide-menu">Formations</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="university-courses.html">All Courses</a></li>
              <li><a href="university-add-course.html">Add Course</a></li>
              <li><a href="university-edit-course.html">Edit Course</a></li>
              <li><a href="university-course-info.html">Course Information</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Sessions</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="university-library-assets.html">Library Assets</a></li>
              <li><a href="university-add-asset.html">Add Library Asset</a></li>
              <li><a href="university-edit-asset.html">Edit Library Asset</a></li>
            </ul>
          </li>
          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-building"></i><span class="hide-menu">Personnels</span></a>
            <ul aria-expanded="false" class="collapse">
              <li><a href="university-departments.html">Departments</a></li>
              <li><a href="university-add-department.html">Add Department</a></li>
              <li><a href="university-edit-department.html">Edit Department</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Personnel Dashboard</h4>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Info box -->
      <!-- ============================================================== -->
      <!-- .row -->
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-uppercase">HTML Course</h5>
              <div class="text-right"> <span class="text-muted">Monthly Fees</span>
                <h2><sup><i class="ti-arrow-up text-success"></i></sup> $1200</h2>
              </div>
              <span class="text-success">20%</span>
              <div class="progress">
                <div class="progress-bar bg-success" style="width: 20%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-uppercase">Web Development Course</h5>
              <div class="text-right"> <span class="text-muted">Monthly Fees</span>
                <h2><sup><i class="ti-arrow-down text-primary"></i></sup> $5000</h2>
              </div>
              <span class="text-primary">30%</span>
              <div class="progress">
                <div class="progress-bar bg-primary" style="width: 30%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-uppercase">Web Designing Course</h5>
              <div class="text-right"> <span class="text-muted">Monthly Fees</span>
                <h2><sup><i class="ti-arrow-up text-info"></i></sup> $8000</h2>
              </div>
              <span class="text-info">60%</span>
              <div class="progress">
                <div class="progress-bar bg-info" style="width: 40%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-uppercase">App Development Course</h5>
              <div class="text-right"> <span class="text-muted">Yearly Fees</span>
                <h2><sup><i class="ti-arrow-up text-inverse"></i></sup> $12000</h2>
              </div>
              <span class="text-inverse">80%</span>
              <div class="progress">
                <div class="progress-bar bg-inverse" style="width: 40%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .right-sidebar -->
      <div class="right-sidebar">
        <div class="slimscrollright">
          <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
          <div class="r-panel-body">
            <ul id="themecolors" class="m-t-20">
              <li><b>With Light sidebar</b></li>
              <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme working">4</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
              <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
              <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
              <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
            </ul>
            <ul class="m-t-20 chatonline">
              <li><b>Chat option</b></li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
              </li>
              <li>
                <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary" (click)="logout()">Logout</button>
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer">
    © 2018 By Maradjah
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>

