<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-success"><i class="ti-wallet"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0">$18090</h3>
            <h5 class="text-muted m-b-0">Income</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-info"><i class="ti-user"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0">2690</h3>
            <h5 class="text-muted m-b-0">Users</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-danger"><i class="ti-calendar"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0">20 march</h3>
            <h5 class="text-muted m-b-0">My birthday</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-success"><i class="ti-settings"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0">6540</h3>
            <h5 class="text-muted m-b-0">pending</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
