<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Formateur</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="university-professors.html">All Professors</a></li>
            <li><a href="university-add-professor.html">Add Professor</a></li>
            <li><a href="university-edit-professor.html">Edit Professor</a></li>
            <li><a href="university-professor-profile.html">Professor Profile</a></li>
          </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-graduation-cap"></i><span class="hide-menu">Etudiants</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="university-students.html">All Students</a></li>
            <li><a href="university-add-student.html">Add Student</a></li>
            <li><a href="university-edit-student.html">Edit Student</a></li>
            <li><a href="university-student-profile.html">Student Profile</a></li>
          </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bars"></i><span class="hide-menu">Formations</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="university-courses.html">All Courses</a></li>
            <li><a href="university-add-course.html">Add Course</a></li>
            <li><a href="university-edit-course.html">Edit Course</a></li>
            <li><a href="university-course-info.html">Course Information</a></li>
          </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Sessions</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="university-library-assets.html">Library Assets</a></li>
            <li><a href="university-add-asset.html">Add Library Asset</a></li>
            <li><a href="university-edit-asset.html">Edit Library Asset</a></li>
          </ul>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-building"></i><span class="hide-menu">Personnels</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="university-departments.html">Departments</a></li>
            <li><a href="university-add-department.html">Add Department</a></li>
            <li><a href="university-edit-department.html">Edit Department</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
